<div>
    <form action="">
        Tiêu đề <input type="text" ng-model="inputValue.tieude">
        <p style="color: red" ng-if="kiemtradulieu.tieude == true">Bạn chưa nhập tiêu đề</p>
        </br>
        Mô tả<input type="text" ng-model="inputValue.mota"></br>
        <button ng-click="onSubmit()">Lưu</button>
    </form>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Tieu đề</td>
            <td>Mô tả</td>
        </tr>
        <tr ng-repeat="pt in danhsachtintuc">
            <td>{{ pt.id }}</td>
            <td>{{ pt.tieude }}</td>
            <td>{{ pt.mota }}</td>
        </tr>
    </table>
</div>